<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{ config.site_name }}">

  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="{{ config.site_name }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ config.theme.social_user }}" />
  <meta name="twitter:creator" content="{{ config.theme.social_user }}" />

  {% if page.meta.description %}
  <meta name="description" content="{{ page.meta.description }}">
  <meta property="og:description" content="{{ page.meta.description }}" />
  <meta name="twitter:description" content="{{ page.meta.description }}" />
  {% elif config.site_description %}
  <meta name="description" content="{{ config.site_description }}">
  <meta property="og:description" content="{{ config.site_description }}" />
  <meta name="twitter:description" content="{{ config.site_description }}" />
  {% endif %}

  {% if page.meta.author %}
  <meta name="author" content="{{ page.meta.author }}">
  {% else %}
  <meta name="author" content="{{ config.site_author }}">
  {% endif %}

  {% if page.meta.title %}
  <title>{{ page.meta.title | striptags }} | {{ config.site_name }}</title>
  <meta property="og:title" content="{{ page.meta.title }}" />
  <meta name="twitter:title" content="{{ page.meta.title }}" />
  {% elif page.title and not page.is_homepage %}
  <title>{{ page.title | striptags }} | {{ config.site_name }}</title>
  <meta property="og:title" content="{{ page.title | striptags }}" />
  <meta name="twitter:title" content="{{ page.title | striptags }}" />
  {% else %}
  <title>{{ config.site_name }}</title>
  <meta property="og:title" content="{{ config.site_name }}" />
  <meta name="twitter:title" content="{{ config.site_name }}" />
  {% endif %}

  {% if page.meta.image %}
  <meta property="og:image" content="{{ page.meta.image | url }}" />
  <meta name="twitter:image" content="{{ page.meta.image | url }}" />
  {% endif %}

  {% if page.meta.keywords %}
  <meta name="keywords" content="{{ page.meta.keywords }}" />
  {% endif %}

  {% if page.meta.ogtype %}
  <meta property="og:type" content="{{ page.meta.ogtype }}" />
  {% elif 'blog' in page.url %}
  <meta property="og:type" content="article" />
  {% else %}
  <meta property="og:type" content="website" />
  {% endif %}

  {% if page.meta.robots %}
  <meta name="robots" content="{{ page.meta.robots }}" />
  {% else %}
  <meta name="robots" content="index, follow" />
  {% endif %}

  {% if page.canonical_url %}
  <link rel="canonical" href="{{ page.canonical_url | url }}">
  <meta property="og:url" content="{{ page.canonical_url | url }}" />
  <meta property="twitter:url" content="{{ page.canonical_url | url }}" />
  {% endif %}

  <script async src="https://kit.fontawesome.com/a076d05399.js"></script>
  {% if page.meta.captcha == "yes" %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {% endif %}

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/jumbotron.min.css" rel="stylesheet">
  <link href="/css/tabcctheme.min.css" rel="stylesheet">
</head>

<body class="bg-black">
  <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark-yellow text-dark"> -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black text-yellow">
    <!-- <a class="navbar-brand" href="/">{{ config.site_nav_name }}</a> -->
    <a class="text-yellow navbar-brand" href="/">{{ config.site_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        {% for nav_item in config.theme.mainnav %}
        <li class="nav-item">
          <a class="nav-link text-yellow text-uppercase" href="{{ nav_item.url | url }}">{{ nav_item.name }}</a>
        </li>
        {% endfor %}
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>

  <main role="main" class="bg-white">

    {% if page and page.is_homepage %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
          jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    {% else %}
    <div class="p-3"></div>
    {% endif %}

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">

        {% if page and page.is_homepage %}
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
            Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
            massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>

        {% else %}
        <div class="col-sm-12">

          {% if page.meta.title %}
          <h1>{{ page.meta.title | striptags }}</h1>
          {% endif %}

          {{ page.content }}

          {% if page.url == "contact/" %}
          <form method="POST" action="/submit.php">
            <p>
              <label for="requestorname" class="font-weight-bold required">Name</label><br />
              <input class="form-control" name="requestorname" type="text" placeholder="John Doe" required="required"
                minlength="4" />
            </p>
            <p>
              <label for="emailaddress" class="font-weight-bold required">Email Address</label><br />
              <input class="form-control" name="emailaddress" type="email" placeholder="user@nsbe-mp.org"
                required="required" minlength="5" />
            </p>
            <p>
              <label for="calltyrone" class="font-weight-bold required">Phone Number</label><br />
              <input name="calltyrone" type="tel" class="form-control" placeholder="555-555-5555" minlength="12" />
            </p>
            <p>
              <label for="message" class="font-weight-bold required">Message, Comment or Question</label><br />
              <textarea class="form-control" name="message" required="required" rows="5"
                placeholder="I have a question about TABCC or its services"></textarea>
            </p>
            <p>
              <input type="submit" name="submit" value="Submit" class="btn btn-dark" />
            </p>
          </form>
          {% endif %}
        </div>
        {% endif %}
      </div> <!-- /row -->
      <hr>
    </div> <!-- /container -->
  </main>

  <footer class="container text-center text-secondary">
    <div class="container row mx-auto">
      {% for block in config.theme.footerblocks %}
      <div class="card bg-black subfooter col-md-4 col-sm-12">
        <div class="card-body text-yellow">
          <h5 class="card-title p-2 subfooter font-weight-bold">{{ block.title }}</h5>
          <p class="card-text subfooter">{{ block.body }}</p>
          {% if block.linkurl and block.linktext %}
          <a href="{{ block.linkurl | url }}" class="btn btn-footer btn-dark text-yellow">{{ block.linktext }}</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}

      <div class="card bg-black subfooter col-md-4 col-sm-12">
        <div class="card-body text-yellow">
          <h5 class="card-title p-2 subfooter font-weight-bold">Chamber Affiliates</h5>
          <ul class="list-unstyled text-left footer">
            {% for link in config.theme.affiliatelinks %}
            <li class="nav-item mb-2">
              <a class="text-underline" href="{{ link.link | url }}" target="_blank">{{ link.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="card bg-black subfooter col-md-4 col-sm-12">
        <div class="card-body text-yellow">
          <h5 class="card-title p-2 subfooter font-weight-bold">Resources</h5>
          <ul class="list-unstyled text-left footer">
            {% for link in config.theme.contactlinks %}
            <li class="nav-item">
              <a class="text-black" href="{{ link.link | url }}" target="_blank">
                {% if link.icon %}
                <i class="{{ link.icon }}"></i>
                {% endif %}
                {{ link.name | striptags }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <ul class="list-unstyled text-left footer">
            {% for link in config.theme.sociallinks %}
            <li class="nav-item">
              <a class="text-black" href="{{ link.link | url }}" target="_blank">
                {% if link.icon %}
                <i class="{{ link.icon }}"></i>
                {% endif %}
                {{ link.name | striptags }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <hr class="bg-yellow" />

    <p class="footer">Copyright &copy; {{ config.copyright }}-{{ build_date_utc.strftime('%Y') }}</p>
    <p>Website maintained by <a href="{{ config.theme.maintainer.url | url }}"
        target="_blank">{{ config.theme.maintainer.name }}</a></p>
    <p class="footer text-small">
      Cookies are used on this website to track your visits, provide advertisements specific
      to you, and preferences by a third-party.
      By continuing to use this site, you agree to the use of cookies unless you have disabled them.
    </p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery.slim.min.js"><\/script>')</script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>